body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}
header{
    background-color: grey;
    color: white;
    padding: 10px;
    text-align: center;
    margin: 20px;
    border-radius: 10px;
}
nav ul{
    list-style: none;
    padding: 2px;
    background-color:none;
    text-align: center;
    margin: 0;
}
nav ul li{
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background-color:white;
    border-radius: 10px;
}
main{
    background-color:rgba(128, 128, 128, 0.811);
    margin: 50px;
    padding: 10px;
    text-align: center;
}
main section h2{
    background-color: white;
    margin: 0 15px;
    padding: 10px;
    border-radius: 20px;
}
main section p{
    background-color: white;
    margin: 15px;
    border-radius: 20px;
}
main section button{
    background-color: cornsilk;
    margin: 0;
    border-radius: 20px;
}
footer p{
    text-align: center;
    background-color:white;
    padding: 10px;
    margin: 50px;
    border-radius: 20px;
}